.nb-delivery {
    width: 100%;
    height: 100%;
    overflow: hidden;

    &__title {
        width: 100%;
        height: 40px;
        line-height: 40px;
        padding: 0 20px;
        font-size: 16px;
        font-weight: 600;
        color: #333;
        @include text-ellipsis();
    }

    &__content {
        width: 100%;
        overflow: hidden;

        &-type {
            width: 100%;
            margin-top: 20px;
            padding: 0 20px;

            .nut-radio {
                display: inline-block;
                margin-right: 15px;

                &__button {
                    display: inline-block;
                    max-width: 100px;
                    @include text-ellipsis();
                }

                &__button--active {
                    background-color: #ffece8;
                    font-size: 12px;
                }
            }

            &-tips {
                width: 100%;
                margin-top: 5px;
                font-size: 12px;
                color: #666;
                @include text-ellipsis();
            }
        }

        &-deliverytime {
            margin-top: 25px;
            overflow: hidden;

            &-title {
                font-size: 14px;
                color: #333;
                padding: 0 20px;
                @include text-ellipsis();
            }

            &-tabs {
                margin-top: 10px;
                padding: 0 20px;

                .nut-radio {
                    display: inline-block;
                    margin-right: 15px;

                    &__button {
                        display: inline-block;
                        max-width: 100px;
                        @include text-ellipsis();
                    }

                    &__button--active {
                        background-color: #ffece8;
                        font-size: 12px;
                    }
                }
            }

            &-tips {
                padding: 0 20px;
                margin-top: 5px;
                font-size: 12px;
                color: #666;
                @include text-ellipsis();
            }
        }
    }

    &__select {
        width: 100%;
        overflow: auto;
    }

    &__btn {
        height: 60px;
        width: 100%;
        position: fixed;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(255, 255, 255, 1);
        box-shadow: 0 -4px 12px 0 rgba(0, 0, 0, 0.05);

        .nut-button {
            width: 335px;
            height: 40px;
            background: linear-gradient(135deg,
                    rgba(242, 20, 12, 1) 0%,
                    rgba(242, 39, 12, 1) 69.83950099728881%,
                    rgba(242, 77, 12, 1) 100%);
            border-radius: 20px;
        }
    }
}