.custom-content{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    .left{
        color: #999;
    }
    .right{
        color: #333;
    }
}
.delivery-date3{
    padding: 30px 10px;
}
.delivery-date4{
    padding: 30px 0;
}