.nb-receive-invoice-edit{
    background: $white;
    padding:5px 10px;
    border-radius: 4px;
    &__item{
        background: $white;
        padding: 0 10px;
        font-size: $font-size-2;
        color:$title-color2;
    }
    &__bottom{
        bottom: constant(safe-area-inset-bottom);
        bottom: env(safe-area-inset-bottom);
        width: 100%;
        padding: 6px 15px;
        background-color: #fff;
    }
    .nut-input{
        padding: var(--nutui-input-padding, 10px 10px);
    }
    .nut-input.nut-input-required:before{
        left: 0;
    }
}