@import "../../styles/mixins/text-ellipsis.scss";
.nut-biz-ordercancel {
  font-weight: normal;
  &__main {
    padding: 0px 20px;
  }
  &__reason-header {
    margin-top: 10px;
    width: 90%;
    font-size: 18px;
    @include text-ellipsis;
  }
  &__header {
    width: 90%;
    text-align: left;
    font-size: 18px;
    height: 50px;
    line-height: 50px;
    @include text-ellipsis;
  }
  &__tips {
    font-size: 14px;
    color: #000000a6;
    padding: 14px;
    background-color: #f7f7f7ff;
    line-height: 25px;
    border-radius: 10px;
    max-height: 160px;
    overflow: auto;
    margin-bottom: 10px;
    &-header {
      font-size: 14px;
      text-align: left;
      font-weight: normal;
    }
  }
  &__reason {
    font-size: 14px;
    max-height: 280px;
    overflow: auto;
    &--list {
      display: flex;
      height: 35px;
      align-items: center;
      justify-content: space-between;
      position: relative;
      &__label {
        // height: 35px;
        // line-height: 35px;
        width: 100%;
        @include text-ellipsis;
      }
      &__checkbox {
        &--post-front {
          margin-right: 10px;
        }
        .nut-checkbox {
          display: flex;
          justify-content: right;
          .nut-checkbox__label {
            display: none;
          }
        }
      }
      &__overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        height: 35px;
        width: 100%;
        opacity: 0;
      }
    }
  }
  &__area {
    border: 1px solid #eee;
  }
  &__btns {
    margin-top: 10px;
    width: 100%;
    box-shadow: 1px 14px 43px -7px rgb(0 0 0 / 50%);
    &--tips {
      font-size: 14px;
      display: flex;
      padding: 20px 20px 0px 20px;
      justify-content: space-between;
    }
    &--button {
      height: 75px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &--tap {
      height: 30px;
    }
  }
  .cancel-btn {
    width: 80%;
  }
}
