.nut-biz-productfeed {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  &__main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__left, &__right {
    width: 50%;
    padding: 0 0.25rem;
  }
}
.nut-biz-productfeedItem {
  position: relative;
  background: #fff;
  &__single {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__image {
    margin: 0 auto;
    &-tag {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
  &__content {
  }
}