@import '../cartbaricon/cartbaricon.scss';
@import '../cartbarbutton/cartbarbutton.scss';
@import '../../styles/base.scss';

.nb-cart-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    .nb-cart-bar__inner {
        display: flex;
        align-items: center;

        &.has-capsule-buttons {
            > p {
                margin-right: 0;

                .nut-button--round {
                    border-radius: 0;
                }
    
                &:first-of-type {
                    .nut-button--round {
                        border-top-left-radius: 25px;
                        border-bottom-left-radius: 25px;
                    }
                }
            
                &:last-of-type {
                    .nut-button--round {
                        border-top-right-radius: 25px;
                        border-bottom-right-radius: 25px;
                    }
                }
            }
        }
    }
}