.demo {
    // Delivery
    .custom-content{
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px;
        
        .left{
            color: #999;
        }

        .right{
            color: #333;
        }
    }

    .delivery-date3{
        padding: 30px 10px;
    }

    .delivery-date4{
        padding: 30px 0;
    }

    // HorizontalScrolling
    .nut-cell-right-zero{
        padding-right: 0;
    }

    .nut-cell-left-zero{
        padding-left: 0;
    }

    .nb-horizontalscrolling__contain-item {
        position: relative;
        width: 83px;
        margin-right: 6px;
        flex-shrink: 0;
        overflow: hidden;

        img {
            width: 83px;
            height: 83px;
            vertical-align: top;
        }
    }

    .nb-horizontalscrolling__mask-left{
        padding: 0 10px;
    }

    .nb-horizontalscrolling__mask-right{
        padding: 0 10px;
    }

    .buy-price{
        > div{
            font-size: 16px;
            color: #000;

            &:last-child{
                font-size: 12px;
                color: #4e4e4f;
            }

            i {
                font-size: 12px;
                font-style: normal;
            }
        }
    }

    .more-box {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    // CartBar SettleBar
    [class*="safe-area-bottom"] {
        position: relative;
    }

    // InvoiceTitleEdit
    .nb-invoice-title-edit__submit {
        position: inherit;
    }

    // OrderRemark
    // 基础组件 Cell 问题（#822）
    .order-remark-demo {
        .nut-cell__value {
            max-width: 60%;
            text-align: left !important;
            word-break: break-all;
        }
    }

    // ProductFeed
    .product-feed-demo {
        padding: 57px 0 0;

        .nut-tabs__titles {
            background: #eee;
        }
        
        .nut-tabpane {
            padding: 0 20px 20px;
            background: #eee;
        }

        .nb-productfeed {
            height: calc(100vh - 145px);
            width: 100%;
            padding: 0;
            overflow-y: auto;
            overflow-x: hidden;
            &::-webkit-scrollbar { width: 0 !important }
        }

        // 商品样式
        .nb-productfeedItem {
            margin-bottom: 6px;

            .img-label {
                width: 63px;
                height: 16px;
                img {
                    display: block;
                    width: 100%;
                }
            }

            .nut-image {
                img {
                    width: 100%;
                    border-radius: 8px;
                }
            }

            .name-box {
                margin-bottom: 7px;
                font-size: 14px;
                font-family: PingFang SC;
                font-weight: normal;
                color: rgba(0,0,0,0.85);
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow: hidden;
                word-break: break-all;

                .label {
                    display: inline-flex;
                    align-items: center;
                    height: 12px;
                    margin-right: 5px;
                    padding: 0 2px;
                    font-size: 10px;
                    font-family: PingFang SC;
                    vertical-align: 2px;
                    color: rgba(255,255,255,1);
                    background: linear-gradient(135deg, rgba(255,64,79,1) 0%,rgba(250,44,25,1) 100%);
                    border-radius: 2px;
                }
            }

            .price {
                font-size: 0;

                .nut-price {
                    font-family: JDZH-Regular;
                    color: rgba(250,44,25,1);

                    .nut-price__symbol-large, .nut-price__decimal-large {
                        font-size: 12px;
                    }
                    
                    .nut-price__integer-large {
                        font-size: 18px;
                    }
                }
            }
        }

        .product-feed-demo2 {
            .name-box {
                height: 42px;
            }

            .desc-box {
                height: auto;
                margin-bottom: 10px;
                font-size: 12px;
                color: #8c8c8c;
            }
        }
    }
}