html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, em, img, s, strong, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, section, time, audio, video {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}