.nut-biz-productfeedItem {
  position: relative;
  background: #fff;
  &__single {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__image {
    &-tag {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
  }
  &__content {
    padding: 10px;
  }
}

