@import '../../styles/base.scss';
@import '../../styles/mixins/text-ellipsis.scss';

.nb-settle-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    &__warning {
        position: relative;
        height: 38px;

        &-mask,
        &-content {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
        }

        &-mask {
            z-index: 1;
            background-color: #fffbe8;
            opacity: .8;
        }

        &-content {
            z-index: 2;
        }
    }

    &__main {
        padding: 6px 12px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nut-checkbox {
            cursor: pointer;

            &__label {
                margin-left: 10px;
            }
        }

        &-select-all {
            margin-right: 12px;
            flex-shrink: 0;
        }
    
        &-total {
            flex: 1;
            display: flex;
            flex-direction: column;
            margin-right: 12px;

            &-inner {
                max-width: 120px;
                @include text-ellipsis();
            }
        }

        .btn {
            border: 1px solid #8c8c8c;
            border-radius: 15px;
            font-size: 12px;
            line-height: 30px;
            padding: 0 19px;
        }
    
        &-buy {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f2270c;
            background-image: linear-gradient(135deg,#f2140c,#f2270c 70%,#f24d0c);
            border-radius: 20px;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            height: 38px;
            width: 113px;
            cursor: pointer;
            flex-shrink: 0;
    
            &.disabled {
                opacity: .3;
                cursor: not-allowed;
            }
        }
    
        &-num {
            font-weight: 400;
        }
    }
}