.nut-theme-dark {
    .nb-addressedit {
        background: $dark-background;
        color: $dark-color;
        &__item{ background: $dark-background;}
        .nut-switch.switch-open {
            background:$dark-color2;
        }
    }
    .nb-addressedit__bottom{
        background: $dark-background;
        .nut-button{
            color: $dark-color;
        }
        
    }
}
.nb-addressedit{
    background: $white;
    padding:5px 10px;
    border-radius: 4px;
    &__item{
        background: $white;
        padding: 0 10px;
        font-size: $font-size-2;
        color:$title-color2;
        &.setdefualt{
            padding: 10px 20px;
            display: flex;
            align-items: center;
            .label{
                margin-right: 20px;
            }
        }
    }
    &__bottom{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        bottom: constant(safe-area-inset-bottom);
        bottom: env(safe-area-inset-bottom);
        width: 100%;
        padding: 12px 18px 24px;
        z-index: 999;
        background-color: #fff;
        box-sizing: border-box;
    }
    .nut-input{
        padding: var(--nutui-input-padding, 10px 10px);
    }
    .nut-input.nut-input-required:before{
        left: 0;
    }
    .nut-input-error-message{
        line-height: 1.2;
    }
}