@import '../../styles/mixins/text-ellipsis.scss';

.nut-theme-dark {
  .nut-biz-card {
    .nut-biz-card__right {
      color: $dark-color;
    }
  }
}

%noClamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-break: break-all;
}

.nut-biz-card {
  width: 100%;

  .nut-biz-card__main {
    display: flex;
  }

  .nut-biz-card__left {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    position: relative;

    > img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .nut-biz-card__right {
    flex: 1;
    padding: 0 10px 8px;
    width: calc(100% - 130px);

    .nut-biz-card__right__title {
      line-height: 1.5;
      font-size: 14px;

      &.multiple-lines {
        @extend %noClamp;
      }

      &.one-line {
        @include oneline-ellipsis;
      }
    }
    .nut-biz-card__right__price {
      display: flex;
      align-items: center;
      height: 18px;
      line-height: 18px;
      margin-top: 9px;
      .nut-price {
        .nut-price__big {
          font-size: 18px;
        }
        .nut-price__symbol,
        .nut-price__point,
        .nut-price__small {
          font-size: 12px;
        }
      }
      .nut-biz-card__right__price__origin {
        &.nut-price {
          margin-left: 2px;
          color: #d2a448;
          .nut-price__big,
          .nut-price__symbol,
          .nut-price__point,
          .nut-price__small {
            font-size: 12px;
          }
        }
      }
    }
    .nut-biz-card__right__other {
      display: flex;
      align-items: center;
      padding: 5px 0 2px;
      .nut-tag {
        padding: 0 2px;
        margin-right: 5px;
        font-size: $font-size-0;
      }
    }
    .nut-biz-card__right__shop {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .nut-biz-card__right__shop__name {
        line-height: 1.5;
        color: #999;
        font-size: 12px;
        padding-top: 4px;
      }
    }
  }

  .half-line {
    img {
      width: 100%;
    }

    &-img {
      position: relative;
    }

    &-title {
      color: #333;
      font-size: 14px;
      margin-top: 8px;

      &.one-line {
        @include oneline-ellipsis;
      }

      &.multiple-lines {
        @extend %noClamp;
      }
    }

    &-shop-name {
      font-size: 12px;
      color: #999;
    }
  }

  .img-tag {
    position: absolute;

    &.top-right {
      right: 0;
    }
  }
}
